@inherits Umbraco.Web.Mvc.UmbracoViewPage
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_MetaTags")

    <title>@(Model.Value<string>("MetaTitle", fallback: Fallback.ToDefaultValue, defaultValue: "Candid Contributions"))</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/eoy7uue.css">
    <link rel="stylesheet" href="~/content/css/site.min.css?v2" />
</head>
<body>
    <div class="main-container">
        @Html.Partial("_Header")
        <div id="container">
            <main>
                @RenderBody()
            </main>
        </div>

        @Html.Partial("_Footer")
    </div>

    <script src="~/content/js/site.js?v2" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>