@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.EventStatus>
@using NPoco.Expressions
@using ContentModels = CandidContribs.Core.Models.Published;
@{
    Layout = "_Master.cshtml";

    var eventsPage = (EventsPage)Model.Parent;
}

<div class="events-page event-@eventsPage.CssClass">
    <div class="events-banner">
        <div class="container">
            <div class="row">
                <div class="col-5 col-12-sm">
                    @if (eventsPage.HeaderLogo != null)
                    {
                        if (eventsPage.HeaderLogoMobileOnly)
                        {
                            <img src="@eventsPage.HeaderLogo.MediaUrl()" alt="@eventsPage.HeaderWords" class="mobile-only" />
                        }
                        else
                        {
                            <img src="@eventsPage.HeaderLogo.MediaUrl()" alt="@eventsPage.HeaderWords" />
                        }
                    }
                    else
                    {
                        <h1>@eventsPage.HeaderWords</h1>
                    }
                </div>

                <div class="col-7 col-12-sm">
                    <h2>@Model.Heading</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container" style="color: #000;">
            @Model.Introduction
        </div>
    </div>
    <div class="mushroom-field">
        <div class="container" style="clear: both;">
            
            @for (var i = 0; i < 14; i++)
            {
                if (i % 2 == 0)
                {
                    <div class="mushroom">
                        <img src="https://avatars1.githubusercontent.com/lottepitcher">
                        <img src="~/images/mushroom.png"/>
                    </div>
                }
                else
                {
                    <div class="mushroom">
                        <img src="https://avatars1.githubusercontent.com/shanselman">
                        <img src="~/images/mushroom.png"/>
                    </div>

                }
            }
            <p style="clear: both;">&nbsp;</p>
        </div>
        <div class="mushroom-field-bottom">&nbsp;</div>
    </div>
</div>