@using CandidContribs.Core.Models.Shared
@inherits Umbraco.Web.Mvc.UmbracoViewPage<EventsPage>
@{
    Layout = "_Master.cshtml";
}

<div class="events-page event-codepatch">

    @Html.Partial("_EventsPageBanner")

    <nav class="container events-nav">
        <ul class="row">
            <li>
                <a href="#about">
                    <i class="material-icons">emoji_food_beverage</i> <span>About</span>
                </a>
            </li>
            <li>
                <a href="#speakers">
                    <i class="material-icons">people</i> <span>Speakers</span>
                </a>
            </li>
            <li>
                <a href="#schedule">
                    <i class="material-icons">calendar_today</i> <span>Schedule</span>
                </a>
            </li>
            <li>
                <a href="#tools">
                    <i class="material-icons">emoji_objects</i> <span>Tools</span>
                </a>
            </li>
            <li>
                <a href="#signup">
                    <i class="material-icons">check_box</i> <span>Sign up</span>
                </a>
            </li>
        </ul>
    </nav>
    
    @Html.Partial("Components/_ImageText", new ImageTextViewModel { Text = Model.AboutContent })

    @Html.Partial("Components/_Speakers", Model.Speakers)

    @Html.Partial("Components/_Schedule")

    @Html.Partial("Components/_Tools")

    @Html.Partial("Components/_EventSignUp", new EventSignUpViewModel() { Text = Model.SignUpContent })

</div>