@inherits Umbraco.Web.Mvc.UmbracoViewPage<HomePageModel>
@using CandidContribs.Web.Models.Pages;
@{
    Layout = "_Master.cshtml";
}

@Html.Partial("_HomepageBanner", Model.LatestEpisode)

<div class="main-content main-content--padded">

    <h2 class="intro-text cancon-hand">@Html.Raw(@Model.AboutUsTitle)</h2>
    <p class="intro-text">@Model.AboutUsDescription</p>

    <div class="align--center">
        <p>@Model.AboutUsLinkText</p>

        <div>
            <img class="contribs-team" src="@Model.AboutUsImage.MediaUrl()" alt="candid contribs team" />
        </div>
    </div>
</div>

<h2 class="section-header cancon-hand align--center">Upcoming events</h2>

<a href="/codepatch">
    <div class="codepatch" id="codepatch">
        <div class="mobile-deets align--center">
            <img src="/images/codepatch_logo_600x300.png" alt="codepatch logo" />
        </div>
    </div>

</a>
<div class="codepatch-details main-content">
    <p>&nbsp;</p>
</div>