@model EventsPage
<div class="events-banner">
    <div class="container">
        <div class="row">
            <div class="col-6 col-12-sm">
                @if (Model.HeaderLogo != null)
                {
                    <img src="@Model.HeaderLogo.MediaUrl()" alt="@Model.HeaderWords" />
                }
                else
                {
                    <h1>@Model.HeaderWords</h1>
                }
            </div>

            <div class="col-3 col-6-md col-12-xs events-banner--icon">
                <div class="type-image">
                    <i class="material-icons">place</i>
                </div>
                <div class="type-details">
                    <h3 class="type-details--label">Where</h3>
                    <p>Virtual</p>
                </div>
            </div>
            <div class="col-3 col-6-md col-12-xs events-banner--icon">
                <div class="type-image">
                    <i class="material-icons">event_note</i>
                </div>
                <div class="type-details">
                    <h3 class="type-details--label">When</h3>
                    @if (Model.Part1StartDate != DateTime.MinValue)
                    {
                        <p>@Html.DisplayFor(x => x.Part1StartDate, "DateTime_DayMonthNoYear")</p>
                    }
                    @if (Model.Part2StartDate != DateTime.MinValue)
                    {
                        <p>@Html.DisplayFor(x => x.Part2StartDate, "DateTime_DayMonthNoYear")</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>